.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f2f2f2;
}

.user-info {
  flex-grow: 1;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.delete-button {
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}

.edit-button{
  padding: 5px 10px;
  background-color:blue;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 50px;
}


.cancel-edit{
  margin-top: 10px;
  border-radius: 50px;
}
.submit-button{
  border-radius: 50px;
}

.Add-user{
  border-radius: 50px;
}